{% extends 'base.html' %}

{% block title %}Product List for {{ subcategory.name }}{% endblock %}

{% block content %}
<h1>Product List for {{ subcategory.name }}</h1>

<!-- Button to Add New Product -->
<div class="mb-3">
    <a href="{% url 'register_product' subcategory.slug %}" class="btn btn-primary">
        Add New Product
    </a>
</div>

<div class="row">
    {% for product in products %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p><strong>SKU:</strong> {{ product.sku }}</p>
                    <p><strong>Price:</strong> ${{ product.price }}</p>
                    <p><strong>Quantity:</strong> {{ product.quantity }}</p>
                    <p><strong>Category:</strong> {{ product.category.name }}</p>
                    <p><strong>Subcategory:</strong> {{ product.subcategory.name }}</p>
                    <p><strong>Brand:</strong> {{ product.brand }}</p>
                    {% if product.expiration_date %}
                        <p><strong>Expiration Date:</strong> {{ product.expiration_date }}</p>
                    {% endif %}
                    <p><strong>Characteristics:</strong></p>
                    <ul>
                        {% for key, value in product.characteristics.items %}
                            <li><strong>{{ key }}:</strong> {{ value }}</li>
                        {% endfor %}
                    </ul>

                    <!-- Button to View Details -->
                    <a href="{% url 'product_detail' product.slug %}" class="btn btn-info btn-sm mt-3">
                        View Details
                    </a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No products available in this subcategory.</p>
    {% endfor %}
</div>

<!-- Button to Go Back to Subcategory List -->
<a href="{% url 'subcategory_list' subcategory.category.slug %}" class="btn btn-secondary mt-3">
    Back to Subcategory List
</a>

<!-- Home button -->
<a href="{% url 'menu' %}" class="btn btn-secondary mt-3">
    <i class="fas fa-home"></i> Menu
</a>
{% endblock %}
