{% extends 'base.html' %}

{% block title %}Subcategory Detail: {{ subcategory.name }}{% endblock %}

{% block content %}
<h1>Subcategory Detail: {{ subcategory.name }}</h1>

<p><strong>Category:</strong> {{ subcategory.category.name }}</p>

<!-- Edit and Delete Options -->
<div class="edit-delete-options mt-3">
    <a href="{% url 'edit_subcategory' subcategory.slug %}" class="btn btn-primary">Edit Subcategory</a>
    <a href="{% url 'delete_subcategory' subcategory.slug %}" class="btn btn-danger">Delete Subcategory</a>
</div>

<!-- Button to Go Back to Subcategory List -->
<a href="{% url 'subcategory_list' subcategory.category.slug %}" class="btn btn-secondary mt-3">
    Back to Subcategory List
</a>

<!-- Home button -->
<a href="{% url 'menu' %}" class="btn btn-secondary mt-3">
    <i class="fas fa-home"></i> Menu
</a>
{% endblock %}
